* {
	margin: 0;
	padding: 0;
}

.container {
	margin-left: auto;
	margin-right: auto;
}

@media only screen and (min-width: 0px) {
	html { font-size: 11px; }
	.container { width: 95%; }
}

@media only screen and (min-width: 350px) {
	html { font-size: 12px; }
	.container { width: 95%; }
}

@media only screen and (min-width: 500px) {
	html { font-size: 14px; }
	.container  { width: 80%; }
}

@media only screen and (min-width: 1100px) {
	html { font-size: 16px; }
	.container { width: 51%; }
}

body {
	padding-top: 2rem;

	font-family: "Inconsolata";
	color: #363636;
}

header {
	margin-bottom: 5rem;
	text-align: center;
}

h1 {
	font-size: 8rem;
	font-weight: 900;
}

h2 {
	font-size: 2.1rem;
}

h3 {
	font-size: 1.8rem;
	margin-bottom: 1rem;
}

p {
	font-size: 1.5rem;
}

section {
	margin-bottom: 3rem;
}

a {
	color: #2d3436 !important;
	font-weight: 900;
	text-decoration: none;
}
