* {
	margin: 0;
	padding: 0;
}

.container {
	margin-left: auto;
	margin-right: auto;
}

@media only screen and (min-width: 0px) {
	html { font-size: 11px; }
	.container { width: 90%; }
}

@media only screen and (min-width: 350px) {
	html { font-size: 12px; }
	.container { width: 90%; }
}

@media only screen and (min-width: 500px) {
	html { font-size: 14px; }
	.container  { width: 80%; }
}

@media only screen and (min-width: 1100px) {
	html { font-size: 16px; }
	.container { width: 51%; }
}

body {
	padding-top: 2rem;

	font-family: "Inconsolata";
	color: #363636;
}

header {
	margin-bottom: 5rem;
	text-align: center;
}

h1 {
	font-size: 8rem;
	font-weight: 900;
}

h2 {
	font-size: 2.1rem;
}

h3 {
	font-size: 1.8rem;
	margin-bottom: 1rem;
}

p {
	font-size: 1.5rem;
	margin-bottom: 1.5rem;
}

section {
	margin-bottom: 3rem;
}

a {
	color: #2d3436 !important;
	font-weight: 900;
	text-decoration: none;
	text-decoration: underline;
}

.miner, button:active {
	box-shadow: inset 0 0 0.2rem rgba(36, 36, 36, 0.5);
}

.miner {
	padding: 2rem;
	border-radius: 0.2rem;
}

.miner .ui table {
	margin: 1rem 0;
}

.miner .ui table td {
	margin-right: 1rem;
	padding-right: 1rem;
}

button {
	padding: 0.5rem 1rem;
	font-size: 1rem;
	border-radius: 0.2rem;
	background-color: white;
	border: none;

	box-shadow: 0 0 0.2rem rgba(36, 36, 36, 0.5);
	outline: 0 !important;
}
